/* generic-list.css */
.body {
	z-index: 10;
	width: 100%;
}
/* Container styles */
.generic-list-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 0.5rem; /* Adjust the gap as needed */
	width: auto;
	overflow-x: hidden;
}

/* Item styles (adjust as needed) */
.generic-list-item {
	/* Add your styles for individual items here */
	/* For example: */
	border: 1px solid #ccc;
	flex: 0 0 calc(33.33% - 10px); /* Adjust item width and gap */
	/* You can use calc to subtract the gap from item width */
}
