.button-82-pushable {
	position: relative;
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;
	transition: filter 250ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	height: 5rem;
	width: 6rem;
	border-radius: 50%; /* Make the button round */
}

.button-82-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%; /* Make the shadow round */
	background: linear-gradient(45deg, rgb(0, 49, 163) 8%, rgb(3, 49, 109)); /* Blue gradient background */
	will-change: transform;
	transform: translateY(2px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
	box-shadow: 0 0 20px rgba(0, 0, 255, 0.5); /* Add a shiny box shadow */
}

.button-82-edge {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%; /* Make the edge round */
	background: linear-gradient(to left, rgb(48, 8, 222) 0%, rgb(0, 49, 163) 8%, rgb(3, 49, 109) 92%, rgb(3, 6, 99) 100%);
}

.button-82-front {
	display: block;
	position: relative;
	padding: 12px 27px;
	border-radius: 50%; /* Make the front round */
	font-size: 1.1rem;
	font-family: "Brush Script MT", cursive;
	color: white;
	background: linear-gradient(45deg, #0074b3, #00a3b7); /* Blue gradient background */
	will-change: transform;
	transform: translateY(-4px);
	transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
	height: 3rem;
}

@media (min-width: 768px) {
	.button-82-front {
		font-size: 1.25rem;
		padding: 12px 42px;
	}
}

.button-82-pushable:hover {
	filter: brightness(110%);
	-webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
	transform: translateY(-6px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-front {
	transform: translateY(-2px);
	transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
	transform: translateY(4px);
	transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
	transform: translateY(1px);
	transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
	outline: none;
}
